/* ANIMACIONES ESPECIALES DE TODAS LAS SECCIONES */

/* INICIO */
/* Nav */
#inicio>nav>div:hover {
    transform: scale(1.1);
    content: url("../../img/iconos/logotipo/logotipo-negro.png");
    cursor: pointer;
}

#inicio>nav>ul>li>a:hover {
    color: var(--dorado);
}

#inicio>nav>ul>li>a:hover::after {
    transform: translateX(0);
}

/* SOBRE NOSOTROS */
/* Locales cards */
#sobre-nosotros>section>header>article:hover {
    transform: rotateX(8deg);
}

/* Cards de los barberos */
#sobre-nosotros>section>article>div:hover {
    transform: translateY(-5px);
    z-index: 10000;
}

/* Animación redes sociales */
.red-social>img:hover {
    filter: brightness(0) invert(1);
    transform: scale(1.3);
}

/* SERVICIOS */
/* Foto */
#servicios>section>.articulo-de-servicios>div>div:hover {
    transform: translateY(-5px);
}

#servicios>section>.articulo-de-servicios>div>div:hover div {
    transform: scale(1);
}