/* ANIMACIONES ESPECIALES DE TODAS LAS SECCIONES */

/* INICIO */
/* Nav */
#inicio>nav>div:hover {
    transform: scale(1.1);
    content: url("../../img/iconos/logotipo/logotipo-negro.png");
    cursor: pointer;
}

#inicio>nav>ul>li>a:hover {
    color: var(--dorado);
}

#inicio>nav>ul>li>a:hover::after {
    transform: translateX(0);
}

/* SOBRE NOSOTROS */
/* Locales cards */
#sobre-nosotros>section>header>article:hover {
    transform: rotateX(8deg);
}

/* Cards de los barberos */
#sobre-nosotros>section>article>div:hover {
    transform: translateY(-5px);
    z-index: 10000;
}

/* Animación redes sociales */
.red-social>img:hover {
    filter: brightness(0) invert(1);
    transform: scale(1.3);
}

/* PORTAFOLIO */
/* Foto */
#portafolio>section>.articulo-de-proyectos>div>div:hover {
    transform: translateY(-8px);
}

#portafolio>section>.articulo-de-proyectos>div>div:hover div {
    transform: scale(1);
}

/* CONTACTO */
/* Input */
#contacto>section>form>div>label>input:hover {
    background: transparent;
}

#contacto>section>form>div>label>input:focus {
    background: transparent;
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Label */
#contacto>section>form>div>label:hover::after {
    width: 100%;
    opacity: 1;
}

#contacto>section>form>div>label:focus-within::after {
    width: 100%;
    opacity: 1;
}

#contacto>section>form>div>label:focus-within::before {
    transform: translateY(-80%);
    opacity: 1;
}

/* Textarea */
#contacto>section>form>.contenedor-text-area>textarea:hover {
    background: transparent;
}

#contacto>section>form>.contenedor-text-area>textarea:focus {
    background: transparent;
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#contacto>section>form>.contenedor-text-area:hover::after {
    width: 100%;
    opacity: 1;
}

#contacto>section>form>.contenedor-text-area:focus-within::after {
    width: 100%;
    opacity: 1;
}

#contacto>section>form>.contenedor-text-area:focus-within::before {
    transform: translateY(-80%);
    opacity: 1;
}