/* ESTILOS UNIVERSALES */

/* Todas las etiquetas */
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 0;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
    /*outline: 1px solid red;*/
}

:root {
    --negro: #121212;
    --blanco: #F5F5F5;
    --gris: #2C2C2C;
    --dorado: #dca02a;
    --naranja: #e97714;
    --fondo-negro: linear-gradient(to right, #121212, #2C2C2C);
    --logotipo: radial-gradient(circle at 25% 30%, rgba(220, 160, 42, 0.25), transparent 45%), radial-gradient(circle at 75% 70%, rgba(233, 119, 20, 0.2), transparent 45%), linear-gradient(135deg, #dca02a, #e97714 40%, #2a1a05 100%);
    --padding: clamp(8px, 1vw, 12px);
}

/* Nav */
nav {
    z-index: 1000;
    width: 80px;
    height: 100vh;
    padding: 10px;
    left: 0;
    top: 0;
    gap: 10px;
    background: var(--fondo-negro);
    transition: all ease-in 0.25s;
}

/* strong y b */
strong,
b {
    color: var(--naranja);
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Oswald-VariableFont", sans-serif;
}

/* Contenedores principales */
#inicio,
#sobre-nosotros,
#servicios,
#portafolio,
#tienda,
#contacto {
    width: calc(100% - 80px);
    min-height: 100vh;
    margin-left: 80px;
}

#inicio {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 10%, rgba(0, 0, 0, 0.55) 40%, rgba(0, 0, 0, 0.95) 75%, var(--negro) 100%), url("../../img/secciones/inicio/fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre-nosotros {
    background-color: var(--negro);
}

#portafolio {}

#contacto {
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    background-attachment: fixed;
}

/* Encabezados y párrafos */
h1,
h2,
h3,
h4 {
    text-align: center;
    position: relative;
}

h2::after,
h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: calc(50% - 35px);
    border-bottom: 1px solid var(--dorado);
}

h2::before,
h3::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    width: calc(50% - 35px);
    border-bottom: 1px solid var(--dorado);
}

h2>span,
h3>span {
    position: absolute;
    display: inline-block;
    --size: clamp(16px, 2vw, 26px);
    bottom: calc(var(--size) / -2);
    left: calc(50% - (var(--size) / 2));
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Imágenes */
img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: translateZ(0);
}

/* Formularios */
form {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: var(--padding);
    border-radius: 3px;
    max-width: 800px;
    transition: all 0.3s ease;
}

input {
    background: transparent;
    padding: var(--padding);
    color: var(--blanco);
    width: 100%;
    height: auto;
    outline: none;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    transition: all 0.3s;
}

textarea {
    min-width: 100%;
    min-height: 100%;
    padding: var(--padding);
    color: var(--blanco);
    background: transparent;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    outline: none;
    border-radius: 3px;
}