/* CLASES DE LAS LIBRERÍAS DE JAVASCRIPT */

/* Animaciones - scrollOpacity */
.opacity-servicio {
    opacity: 1 !important;
    filter: blur(0) !important;
}

/* Menú desplegable - menuDesplegable */
.activar-menu-desplegable {
    transform: translateX(0);
}

/* Botones del menú (nav) y clases para la función nav() */
.btn-nav {
    color: var(--blanco);
    font-weight: 700;
    letter-spacing: 3px;
    transform: scaleY(1.5);
    transition: all 0.3s;
}

.btn-nav-on {
    background: var(--brillo-dorado);
    background-size: 200% 200%;
    animation: brillo-nav 4s infinite alternate;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
    -webkit-text-fill-color: transparent;
    padding: 5px 0.5rem;
}

.btn-nav-on::before {
    content: "";
    width: 20px;
    height: 20px;
    border-top: 3px solid;
    border-left: 3px solid;
    border-image: var(--brillo-dorado) 1;
    filter: drop-shadow(0 0 4px var(--dorado)) drop-shadow(0 0 31px rgba(255, 215, 0, 0.6));
    position: absolute;
    left: 0;
    top: 0;
}

.btn-nav-on::after {
    content: "";
    width: 20px;
    height: 20px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-image: var(--brillo-dorado) 1;
    filter: drop-shadow(0 0 4px var(--dorado)) drop-shadow(0 0 31px rgba(255, 215, 0, 0.6));
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-nav-off {
    overflow: hidden;
}

.btn-nav-off::before {
    content: "";
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 100%;
    height: 2px;
    background-color: var(--dorado);
    transform: translateX(-110%);
}