/* ESTILOS DE LA SECCIÓN INICIO (header) */

/* Link de la tienda del nav */
.tienda {
    color: #e97714;
}

/* Artículo de contenido header */
/* Section */
#inicio>section>article {
    padding: 5px;
    gap: 15px;
}

#inicio>section>article>div {
    max-height: 300px;
}

/* Encabezado principal */
#inicio>section>article>h1 {
    gap: 20px;
}

#inicio>section>article>h1::after,
#inicio>section>article>h1::before {
    content: "";
    height: 0;
    width: 30%;
    border-bottom: 1px dashed var(--dorado);
    vertical-align: middle;
}

/* Subtítulo de las promociones */
#inicio>section>article>h3 {
    color: var(--blanco);
    max-width: 350px;
}

#inicio>section>article>h3>span {
    background-image: url("../../img/iconos/encabezados/estrella.png");
}

#inicio>section>article>ul {
    width: 100%;
}