/* ESTILOS DE LA SECCIÓN SOBRE NOSOTROS */

/* Subtítulo principal */
#sobre-nosotros>section>h2 {
    margin-bottom: 20px;
}

#sobre-nosotros>section>h2>span {
    background-image: url("../../img/iconos/encabezados/barbero.png");
}

/* Reservaciones en los locales */
#sobre-nosotros>section>header {
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

/* Reservaciones en los locales cards */
#sobre-nosotros>section>header>article {
    gap: 10px;
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 10px;
    filter: blur(0.5px);
    overflow: hidden;
    transition: all 0.3s ease;
}

#sobre-nosotros>section>header>article>div:first-child {
    height: 250px;
}

#sobre-nosotros>section>header>article>h3 {
    text-shadow: 8px 8px 8px #010101;
    margin-bottom: 15px;
    color: var(--dorado);
    padding-bottom: 10px;
}

#sobre-nosotros>section>header>article>h3>span {
    background-image: url("../../img/iconos/encabezados/ubicacion.png");
}

#sobre-nosotros>section>header>article>p {
    text-shadow: 8px 8px 8px #010101;
}

/* Card del perfil */
#sobre-nosotros>section>article {
    gap: 25px;
    padding: 10px;
}

#sobre-nosotros>section>article>div {
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.35s;
}

#sobre-nosotros>section>article>div>div:first-child {
    padding: 2px;
    background-color: var(--blanco);
    border-radius: 50%;
}

#sobre-nosotros>section>article>div>p::first-letter {
    color: var(--dorado);
    font-weight: 500;
    letter-spacing: 3px;
}

#sobre-nosotros>section>article>div>h3 {
    color: var(--naranja);
    margin-bottom: 5px;
}

#sobre-nosotros>section>article>div>h3::after,
#sobre-nosotros>section>article>div>h3::before {
    border-bottom: 1px solid var(--blanco);
}

#sobre-nosotros>section>article>div>h3>span {
    background-image: url("../../img/iconos/encabezados/estrella.png");
}

#sobre-nosotros>section>article>div>ul {
    gap: 15px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2.5px;
}

#sobre-nosotros>section>article>div>div>img {
    width: 180px;
    height: 160px;
    border-radius: 75px;
}