/* ESTILOS DE LA SECCIÓN CONTACTO */

/* Encabezado principal de la sección  */
#contacto>section>h2>span {
    background-image: url("../../img/iconos/encabezados/formulario.png");
}


/* Formulario */
#contacto>section>form {
    width: 100%;
    gap: 15px;
    background: rgba(255, 255, 255, 0.08);
    /* transparencia base */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* Encabezado y tecto */
#contacto>section>form>h3 {
    max-width: 300px;
}

#contacto>section>form>h3>span {
    background-image: url("../../img/iconos/encabezados/formulario.png");
}

/* Contenedores de inputs y labels */
#contacto>section>form>div {
    width: 100%;
    padding: 5px;
    gap: 15px;
}

/* Label */
#contacto>section>form>div>label {
    color: var(--blanco);
    text-shadow: 0 0 2px var(--negro);
}

#contacto>section>form>div>label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--dorado);
    transition: all 0.35s;
}

#contacto>section>form>div>label::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    background-color: var(--dorado);
    transition: all 0.3s;
    padding: 2px;
    border-radius: 5px;
    transform: translateY(200%);
    opacity: 0;
    font-size: clamp(0.7rem, 2vw, 1.1rem);
    z-index: 1;
}

/* Textarea */
#contacto>section>form>.contenedor-text-area {
    width: 100%;
    height: 150px;
    padding: 5px;
    transition: all 0.05s;
}

#contacto>section>form>.contenedor-text-area::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--dorado);
    transition: all 0.35s;
}

#contacto>section>form>.contenedor-text-area::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    background-color: var(--dorado);
    transition: all 0.3s;
    padding: 2px;
    border-radius: 5px;
    color: var(--blanco);
    transform: translateY(200%);
    opacity: 0;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    z-index: 1;
}

/* Datos de contacto */
.datos-de-contacto {
    width: 100%;
    background-color: #010101;
    min-height: 250px;
    padding: 1.5rem;
    gap: 25px;
}

.datos-de-contacto>div {
    flex: 1 1 250px;
    gap: 10px;
}

.datos-de-contacto>div p {
    text-align: justify;
}

/* Contacto */
.lista-contacto {
    width: 100%;
    gap: 15px;
}

.lista-contacto>.contacto {
    width: 30px;
    height: 30px;
}