/* ESTILOS DE LA SECCIÓN PRINCIPAL SERVICIOS (main) */

/* Artículo de servicios */
#servicios article {
    gap: 20px;
    max-width: 1200px;
    place-items: center;
    margin: auto;
}

#servicios article>.servicio {
    padding: 2rem 1rem;
    border-radius: 10px;
    border: 0.1px solid var(--gris);
    gap: 5px;
    transition: all 0.2s;
}

.opacity-servicio {
    opacity: 1 !important;
    filter: blur(0) !important;
}

#servicios article>.servicio>.fondo-servicio {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 10px;
    transition: all 0.2s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

#servicios article>.servicio>.fondo-servicio>div {
    width: 70px;
    height: 70px;
    background-color: var(--gris);
    border-radius: 35px;
}

#servicios article>.servicio>div>img {
    width: 50px;
    height: 50px;
}

#servicios article .servicio>h3,
#servicios article .servicio>p,
#servicios article .servicio>h4 {
    text-align: center;
    text-shadow: 1px 1px 3px var(--negro), 2px 2px 4px var(--negro);
}

/* Ventana del servicio */
#servicios>#leer-mas-servicio {
    min-width: 100%;
    min-height: 100vh;
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

#servicios>#leer-mas-servicio>.contenedor-datos-leer-mas {
    max-width: 800px;
}

#cerrar-ventana-servicio {
    left: 5%;
    top: 50%;
    width: 40px;
    height: 40px;
}

.activar-leer-mas-servicio {
    left: 0 !important;
}